* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background-color: darkgrey;
}
section{
    align-items: center;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    position: relative;
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate;
    transition: 0.5s;
}
header .logo{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content {
    position: absolute;
    text-align: center;
    bottom: 15px;
    color: white;
    width: 600px;
    margin-left: auto;
}
.textbox h4{
    padding-bottom: 12px;
    font-size: 25px;
}
.textbox h1{
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 50px;
    border-style: dotted;
    border-radius: 10px;
    border-width: 10px;
}
.textbox h3{
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 20px;
}
img{
    width: 400px;
    height: auto;
}
.text h1{
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 30px;
}
.text a{
    font-size: 15px;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;

}