/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

#license {
    border-style: solid;
    display: block;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    padding: 24px;
    background: linear-gradient(rgb(238, 200, 174), rgb(207, 160, 4));
}

#license #content h1{
    border-style: solid;
    text-align: left;
    color: darkblue;
    font-size: 30px;
}

#left-side {
    display: inline-block;
    width: 65%;
}

#left-side h4{
    border-style: 1px solid darkblue;
    background-color: darkblue;
    color: white;
    width: 50vh;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

#id-and-expiration {
    display: inline-block;
    text-align: center;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#right-side {
    display: inline-block;
    width: 100%;
}

#donor-and-real-id {
    display: inline-block;
    
}