* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
    background-image: url(../images/pexels-pixabay-45170.jpg);
}

#hero-1 {
    background-image: url(../images/pexels-pixabay-45170.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

#hero-1 .hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
    padding: 5vh 8vw;
    text-align: center;
}

#hero-1 h2 {
    font-size: 45px;
    margin-bottom: 5vh;
    margin-right: 5vw;
} 

#hero-1 a {
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 30px;
    background-color: rgb(255, 196, 0);
    padding: 12px;
    margin-top: 36px;
}

#hero-1 h4 {
    font-size: 18px;
    margin: 0px 5vw 0px 0px;
}

#hero-1 a:hover {
    flex: 1;
    background-color: #131212;
    color: #f3c910;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

#navbar {
    background: linear-gradient(to bottom, rgb(255, 196, 0), rgb(255, 255, 0));
    display: flex;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    color: black;
    padding: 30px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 15px;
    padding-bottom: 13px;
}

#navbar a:hover {
    background: linear-gradient(to top, rgb(255, 196, 0), rgb(255, 255, 0));
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opaciy 0.25s, 
        visibility 0.25s;
    z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(206, 176, 5);
    width: 100%;
    min-width: 200px;
}